/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333333;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/* Navbar Styles */
.navbar {
  background-color: #5d93e1;
  color: white;
  padding: 15px 0;
  /*background: url("path_to_your_texture_image.jpg") repeat;  */
  background-color: #5d93e1;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 2px,
    transparent 50px
  );
  padding: 20px 0;
  text-align: center;
  /* For positioning the search box */
}

/* Search Box Encapsulation */
.search-container {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -25px;
  margin-bottom: 10px;
}

.search-bar input,
.search-bar select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding-left: 20px;
  margin-top: 20px;
  padding-right: 20px;
}

.search-bar button {
  margin-top: 18px;
  padding: 0px 20px;
  height: 40px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
}

/* Form and Input Styles */
form input,
form select,
form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

/* Product Grid */
.owner-view,
.client-view {
  max-width: 1200px;
  margin: auto;
}

.owner-view .product-grid,
.client-view .product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 items per row */
  grid-gap: 10px;
}

.product {
  background-color: white;
  border: 1px solid #dddddd;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product-image {
  width: 150px; /* Fixed width */
  height: 150px; /* Fixed height */
  object-fit: cover; /* Cover the area, crop if necessary */
  border-radius: 5px; /* Optional: for rounded corners */
  margin-bottom: 10px;
}

/* Button Styles */
button,
input[type="submit"] {
  background-color: #5d93e1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover,
input[type="submit"]:hover {
  background-color: #4a7abc;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  color: #5d93e1;
  padding: 5px 10px;
  border: 1px solid #5d93e1;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.pagination a:hover,
.pagination .active a {
  background-color: #5d93e1;
  color: white;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar ul li {
    display: block;
    margin: 5px 0;
  }

  .search-container {
    position: static;
    transform: translateX(0);
    margin-top: 20px;
  }
}
